flask==3.0.0
flask-cors==4.0.0
sqlalchemy==2.0.34
flask-sqlalchemy==3.1.1
pandas==2.2.2
requests==2.32.3

transformers==4.44.2
torch>=2.2.0
sentence-transformers==3.1.1

streamlit==1.38.0
numpy==2.1.1

